@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* top area */

body{
    background: #415A77;
    text-align: center;
}

.top-container{
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit(3, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(30rem, auto);
    color: #001d3d;
}

.top-container article{
    background: #E0E1DD;;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 0 1rem;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    border-radius: 10px;
}

article:nth-of-type(1) {
    margin: .5em ;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    font-size: 2rem;
}

article:nth-of-type(2) {
    grid-row: 2 / 3;
    
}

article:nth-of-type(3) {
    grid-row: 1 / 2;
}

/* middle main area */

.main-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 2em;
}


section{
    display: flex;
    justify-content: center;
    align-content: center;
    background: #1B263B;
    margin: .3em;
    padding: 2em .8em;
    min-height: auto;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: white;

}

section:hover {
    transition: 200ms ease-in-out;
    background: #9e2a2b;
    cursor: pointer;
    font-size: 1.4rem;
    box-shadow: 0 0 1rem;

}

.day {
    background: #0D1B2A;
    padding: .7em;
}

.day:hover{
    transition: none;
    background: #403d39;
    cursor: pointer;
    font-size: 1rem;
}


.exact-time{
    margin: .3em;
    padding: 2em .8em;
}

.exact-time:hover{
    transition: none;
    background: #1B263B;
    cursor: pointer;
    font-size: 1rem;
}

/* section:nth-of-type(33){
    grid-column: 4 / 5;

} */

section:nth-of-type(20){
    grid-column: 2 / 7;
}

section:nth-of-type(34) {
    grid-column: 2 / 5;
}

section:nth-of-type(35) {
    grid-column: 5 / 7 ;
}

section:nth-of-type(37) {
    grid-column: 3 / 4;
}

section:nth-of-type(38) {
    grid-column: 5 / 6;
}

section:nth-of-type(41) {
    grid-column: 5 / 7;
}

a{
    color:white;
    text-decoration: none;
}

a:visited{
    color: white;
}




/* ------- */

/* footer area */




.synch:hover{
    transition: 200ms ease-in-out;
    background: #81B29A;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 0 1rem;
}



.footer-container{
    margin: 5em 0;
    display: flex;
    max-height: 100px;
    font-family: 'Lato', sans-serif;
}

.forms{
    font-size: 1.5rem;
    padding: 1.5em;
    margin: auto;
}

.forms:hover{
    font-size: 1.8rem;
}


@media (max-width: 940px){
    body{
        margin-right: 3em;
    }

}